.container {
  background-color: #9599e2;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardContainer {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 50%;
  padding: 3rem;
}
.cardImage {
  height: 60vh;
  width: 600px;
  border-radius: 10px;
  animation-name: fade;
  animation-duration: 1s;
}
.cardImage:hover {
  cursor: pointer;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.overlay {
  position: absolute;
  height: 54vh;
  width: 560px;
  border-radius: 10px;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000000e8;
  color: #fff;
  padding: 20px;
}
.overlaycontainer:hover .overlay {
  opacity: 1;
  cursor: pointer;
}
.info {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10%;
  line-height: 1.7;
}

.rightArrow {
  position: absolute;
  top: 45%;
  right: 32px;
  font-size: 2rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.leftArrow {
  position: absolute;
  top: 45%;
  left: 32px;
  font-size: 2rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.go {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.go a {
  color: #3f3d56;
}
.go a:hover {
  color: #fff;
  cursor: pointer;
}
.imageMobile {
  width: 230px;
}
@media (max-width: 600px) {
  .cardContainer {
    width: 100%;
    height: 50vh;
  }
  .cardImage {
    width: 320px;
    height: 250px;
  }
  .rightArrow {
    top: 75%;
  }
  .leftArrow {
    top: 75%;
  }
  .overlay {
    width: 280px;
    height: 211px;
    font-size: 0.7rem;
    overflow: auto;
  }
  .go {
    margin-top: 3%;
  }
}
@media (min-width: 600px) {
  .cardContainer {
    width: 100%;
    height: 50vh;
  }
  .cardImage {
    width: 520px;
    height: 350px;
  }

  .overlay {
    width: 480px;
    height: 311px;
    font-size: 0.9rem;
    overflow: auto;
  }
  .rightArrow {
    right: 1%;
  }
  .leftArrow {
    left: 1%;
  }
}
@media (min-width: 768px) {
  .rightArrow {
    right: 6%;
  }
  .leftArrow {
    left: 6%;
  }
}
@media (min-width: 992px) {
  .rightArrow {
    right: 15%;
  }
  .leftArrow {
    left: 15%;
  }
}
@media (min-width: 1200px) {
  .cardContainer {
    width: 100%;
    height: 65vh;
  }
  .cardImage {
    width: 620px;
    height: 400px;
  }
  .overlay {
    width: 580px;
    height: 360px;
    overflow: auto;
  }
  .rightArrow {
    right: 16%;
  }
  .leftArrow {
    left: 16%;
  }
}
@media (min-width: 1500px) {
  .cardContainer {
    width: 100%;
    height: 60vh;
  }
  .cardImage {
    width: 720px;
    height: 400px;
  }
  .overlay {
    width: 680px;
    height: 360px;
    overflow: auto;
  }
  .rightArrow {
    right: 20%;
  }
  .leftArrow {
    left: 20%;
  }
}
