.container{
  background-color: #9599E2;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.grid{
  margin-top: 3%;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: 1fr 1fr 1fr ;
  place-items: center;
  width: 50%;
  
}
.grid img{
  width:70px;
  height:70px;  
  background-color: #fff; 
  padding: 15px;
  border-radius: 10px;
}
.label{
  text-align: center;
  font-weight: bold;
  color: #3f3d56;
  background-color: rgba(201, 201, 201, 0.521);
  padding:5px;
  border-radius: 10px;
}
.label:hover{
  color: rgb(255, 255, 255);
  cursor: pointer;
}