.container {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #9599e2 16%, #ffffff 64%);
}
.div1 {
  width: 50%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.div1 .present{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: 15%;
}
.div1 h2 {
  text-align: center;
  color: #000;
  font-size: 2.3rem;
  width: 100%;
}
.present .scrolling {
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.3rem;
  animation: typing 3.8s steps(150) 1s infinite normal both;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 45%;
  }
}
.present p{
  line-height: 1.4
}
.div1 .icons {
  display: flex;
  flex-direction: column;
  padding: 5%;
  gap: 0.5rem;
}
.div1 .icons a {
  transform: rotate(270deg);
  color: #3F3D56;
}
.icons a:hover {
  color: #8985A8;
  cursor: pointer;
}

.container img {
  width: 50%;
  height: 300px;
}
/* RESPONSIVE */
@media (max-width: 600px){
  .container{
    flex-direction: column;
  }
  .container img{
    height: auto;
    margin: auto;
  }
  .div1{
    flex-direction: column-reverse;
    width: 90%;
    margin-top: 50%;
  }
  .div1 .present{
    margin: 0;
  }
  .div1 .icons {
    flex-direction: row;
  }
  .div1 .icons a{
    transform: rotate(0deg);
  }
}