.container{
  background-color: #9599E2;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 5rem;
  width: 100%;
}
.container p{
  color: #fff;
  font-family: 'Catamaran', sans-serif;
  text-align: justify;
  font-size: 1.3rem;
  line-height: 2;
  width: 50%;
}
.mask{
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border: 4px solid rgb(255, 255, 255);
  display: flex;
  overflow: hidden;
  box-shadow: 1px 1px 10px #3F3D56;
}
.mask img {
  object-fit: cover;
}
@media (max-width: 600px){
  .container{
    gap: 1rem;
    flex-direction: column-reverse;
  }
  .container p{
    text-align: center;
    font-size: 1rem;
    line-height: 1.3;
    width: 80%;
  }
  .mask{
    width: 10rem;
    height: 10rem;
    border: 2px solid rgb(255, 255, 255);
  }
}
@media (min-width: 600px){
  .container{
    gap: 1rem;
    flex-direction: column-reverse;
  }
  .container p{
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.4;
    width: 80%;
  }
  .mask{
    width: 10rem;
    height: 10rem;
    border: 2px solid rgb(255, 255, 255);
  }
}
@media (min-width: 992px){
  .container{
    gap: 3rem;
  }
  .container p{
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.5;
    width: 65%;
  }
  .mask{
    width: 13rem;
    height: 13rem;
    border: 4px solid rgb(255, 255, 255);
  }
}